{% extends "blog/base.html" %}
{% load djazyblog_tags %}

{% load i18n %}

{% block title %}{{ post.title }}{% endblock %}

{%block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
  {% blocktranslate trimmed with post_publish=post.publish post_author=post.author%}
    Published {{ post_publish }} by {{ post_author }}
    {% endblocktranslate %}
  </p>
  {{ post.body|markdown }}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      <i class="fas fa-envelope-square"></i>{% translate " Share by e-mail" %}
    </a>
  </p>

  <h2>{% translate "Similar Posts" %}</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
    {% translate "There are no similar posts yet" %}
  {% endfor %}

  <!-- Comments -->
  {% with comments.count as total_comments %} 
  <h2>{% blocktranslate trimmed count total_comments=total_comments %}
      {{ total_comments  }} comment
      {% plural %}
      {{ total_comments }} comments
      {% endblocktranslate %}
    </h2>
  {% endwith %}

  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        {% blocktranslate trimmed with forloop_counter=forloop.counter comment_name=comment.name %}
	Comment {{ forloop_counter }} by {{ comment_name }}
	{% endblocktranslate %}
	{{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>{% translate "There is no comment yet." %}</p>
  {% endfor %}

  {% if sent %}
  <h2>{% translate "Your comment has been added and is awaiting validation." %}</h2>
  {% else %}
  <h2>{% translate "Add a new comment" %}</h2>
    <form method='post'>
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="{% translate "Add comment" %}"</p>
    </form>
  {% endif %}

{% endblock %}

