{% extends "blog/base.html" %}
{% load djazyblog_tags %}
{% load i18n %}


{% block title %}Blog | Soignants Au Cœur Des Urgences{% endblock %}

{% block content %}
  <h1>Soignants Au Cœur Des Urgences</h1>
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  
  {% for post in posts %}
    <h2>
      <a href="{{post.get_absolute_url}}">
        {{ post.title }}
      </a>
    </h2>
    <p class="tags">
      Tags:&nbsp;
        {% for tag in post.tags.all %}
	  <a href="{% url "blog:post_list_by_tag" tag.slug %}">
	    {{ tag.name }}
	  </a>
	  {% if not forloop.last %}, {% endif %}
	{% endfor %}
    </p>

    <p class="date">
    {% blocktranslate trimmed with post_publish=post.publish post_author=post.author %}
    Published {{ post_publish }} by {{ post_author }}
    {% endblocktranslate %}
    </p>
    {{ post.body|markdown|truncatewords_html:30 }}
    <p>
      <a href="{{post.get_absolute_url}}">
	      {% translate "Read more" %}...
      </a>
    </p>
  {% endfor %}
  {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}

