{% extends "blog/base.html" %}
{% load djazyblog_tags %}
{% load i18n %}

{% block title %}{% translate "Search" %}{% endblock %}

{% block content %}
  {% if query %}
    <h1>{% translate "Post containing " %}"{{ query }}"</h1>
    <h3>
      {% with results.count as total_results %}
        {% blocktranslate trimmed count total_results=total_results %}
        Find {{ total_results }} result
	{% plural %}
	Find {{ total_results }} results
        {% endblocktranslate %}
      {% endwith %}
    </h3>
    {% for post in results %}
    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
      {{ post.body|markdown|truncatewords_html:5 }}
    {% empty %}
      <p>{% translate "There are no results for your query." %}</p>
    {% endfor %}
    <p>
      <a href="{% url "blog:post_search" %}">
        <i class="fas fa-search"></i>{% translate " Search again" %}
      </a>
    </p>
  {% else %}
  <h1>{% translate "Search for posts" %}</h1>
    <form method="get">
      {{ form.as_p }}
      <input type="submit" value="{% translate "Search" %}">
    </form>
  {% endif %}
{% endblock %}

