{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% translate "Share a post" %}{% endblock %}

{% block content %}
  {% if sent %}
    <h1>{% translate "E-mail succesfully sent" %}</h1>
    <p>
      {% blocktranslate trimmed with post_title=post.title form_cleaned_data_to=form.cleaned_data.to %}
      "{{ post_title  }}" was succesfully sent to {{ form_cleaned_data_to }}.
      {% endblocktranslate %}
    </p>
  {% else %}
    <h1>
      {% blocktranslate trimmed with post_title=post.title %}
      Share "{{ post_title }}" by e-mail
      {% endblocktranslate %}
    </h1>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="{% translate "Envoyer un e-mail" %}">
    </form>
  {% endif %}
{% endblock %}

