{% load djazyblog_tags %}
{% load static %}
{% load i18n %}
{% total_posts as total_posts %}

<!DOCSTYLE html>
  <html class="has-navbar-fixed-top">

    <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %}</title>
      <!-- favicon -->
      <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-touch-icon.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
      <link rel="manifest" href="{% static "site.webmanifest" %}">
      <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <!-- end favicon -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
      <style type="text/css">
        .footer {
          padding: 1.5rem 1.5rem 1.5rem;
        } 
      </style>

      <script src="https://kit.fontawesome.com/2f3d485025.js" crossorigin="anonymous"></script>
    </head>
    <body>
      
      <header>
        {% block navbar %}
          {% include "blog/navbar.html" %}
        {%  endblock %}
      </header>

      <div id="content" class="columns is-centered">
	<div class="column is-four-fifths">
	  <div class="box">
	  <div class="content">
          {% block content %}{% endblock %}
	  </div>
	  </div>
        </div>
	
	<div id="sidebar" class="column ">
	  <div class="box has-background-grey-light">
	    <div class="content">
	      <h2><a href="{% url 'blog:post_list' %}">Soignants Au Cœur Des Urgences</a></h2>
	      <p>
	        Blog de l'association <em>Soignants Au Cœur Des Urgences</em>.
	      </p>
	      <p>
	      {% blocktranslate trimmed count total_posts=total_posts %}
                We published {{ total_posts }} post so far.
                {% plural %}
		We published {{ total_posts }} posts so far.
	        {% endblocktranslate %}
	      </p>
              <p>
	        <a href="{% url "blog:post_feed" %}">
	          <i class="fas fa-rss-square"></i>{% translate " Suscribe to our RSS feed" %}
	        </a>
	      </p>
	      <p>
	        <a href={% url "blog:post_search" %}>
		  <i class="fas fa-search"></i>{% translate " Search a post" %}
		</a>
	      </p>

	      <h3>{% translate "Latest posts" %}</h3>
	      {% show_latest_posts 3 %}
	      <h3>{% translate "Most commented posts" %}</h3>
	      {% get_most_commented_posts as most_commented_posts %}
	      <ul>
	        {% for post in most_commented_posts %}
	          <li>
	            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	          </li>
	        {% endfor %}
	      </div>
	    </div>
          </div>
        </div>

      {% block footer %}
      <footer class="footer has-background-grey-light">
        <div class="content has-text-centered">
          <strong>Soignants au Coeur des Urgences</strong>
	  hosted and developed with <i class="fas fa-heart"></i> 
	  by <a href="https:www.lhndev.com">LHnDEV</a>
        </div>
      </footer>
      {% endblock %}

      {% block footer_javascript %}{% endblock %}

    </body>
  </html>

