{% load static %}
{% load i18n %}

<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="{% static "img/logo.png" %}" alt="Logo">&nbsp;Soignants Au Coeur Des Urgences
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="{% url 'blog:post_list' %}">
        Blog
      </a>
      <a class="navbar-item" href="">
	Forum
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="">
	{% translate "Log In" %}
      </a>
      <a class="navbar-item" href="">
	{% translate "Register" %}
      </a>
    </div>
  </div>
</nav>



{% block footer_javascript %}
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
{% endblock %}
