{% load i18n %}
<nav class="pagination" role="navigation" aria-label="pagination">

  <div class="pagination-list">
    <span class="pagination-ellipsis">Page</span>
      
    <a class="pagination-link is-current" aria-label="{{ page.number }}" aria-current="page">
      {{ page.number }}
    </a>

    <span class="pagination-ellipsis">{% translate "on a total of " %} {{ page.paginator.num_pages }}.</span>
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}" class="pagination-previous">{% translate "Previous" %}</a>
    {% endif %}
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}" class="pagination-next">{% translate "Next" %}</a>
    {% endif %}
  </div>
</nav>

